.App{
    max-width:1200px;
    margin:0 auto;
    padding: 50px;
    padding-top: 30px;
}

#root{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background: url(https://img3.goodfon.com/original/3000x2000/5/e9/tumannost-zvezdy-kosmos-6807.jpg) 100% 100% no-repeat;
    background-size: cover;
    min-height: 100vmin;
}